<div class="dialog-grid-layout">
  <!-- Row 1: Header -->
  <div class="dialog-header">
    <h2 mat-dialog-title class="dialog-title">
      Tambah Mesin Baru
    </h2>
    <button type="button" (click)="onCancel()" class="dialog-close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" class="dialog-close-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Container Form Utama -->
  <form [formGroup]="machineForm" (ngSubmit)="onSubmit()" id="machineForm" class="dialog-form">

    <!-- Row 2: Nama Mesin -->
    <div class="dialog-form-row-first">
      <mat-form-field appearance="outline" class="dialog-form-field">
        <mat-label>Nama Mesin</mat-label>
        <input matInput formControlName="machineName" placeholder="Contoh: Machine 01" />
        @if (machineForm.get('machineName')?.hasError('required')) {
        <mat-error>Nama mesin wajib diisi</mat-error>
        }
        @if (machineForm.get('machineName')?.hasError('minlength')) {
        <mat-error>Nama mesin minimal 3 karakter</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Row 3: Lokasi / Lini -->
    <div class="dialog-form-row">
      <mat-form-field appearance="outline" class="dialog-form-field">
        <mat-label>Lokasi / Lini</mat-label>
        <input matInput formControlName="location" placeholder="Contoh: Lini A" />
        @if (machineForm.get('location')?.hasError('required')) {
        <mat-error>Lokasi wajib diisi</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Row 4: Tahun Produksi -->
    <div class="dialog-form-row-last">
      <mat-form-field appearance="outline" class="dialog-form-field">
        <mat-label>Tahun Produksi</mat-label>
        <input matInput type="number" formControlName="productionYear" placeholder="2026" />
        @if (machineForm.get('productionYear')?.hasError('required')) {
        <mat-error>Tahun produksi wajib diisi</mat-error>
        }
        @if (machineForm.get('productionYear')?.hasError('min')) {
        <mat-error>Tahun produksi tidak valid</mat-error>
        }
      </mat-form-field>
    </div>

  </form>

  <!-- Row 5: Actions / Button -->
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()" class="btn-cancel">
      Batal
    </button>

    <button mat-raised-button color="primary" type="submit" form="machineForm" class="btn-submit">
      Simpan
    </button>
  </mat-dialog-actions>
</div>